<ion-header>
  <ion-toolbar>
    <ion-title>RegisterProduct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario registro de productos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="postProducts()">
        <ion-list>
          <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select formControlName="id_categories">
              <ion-select-option *ngFor="let c of categories" [value]="c.id" >{{c.category}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input formControlName="description" placeholder="Descripción"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="price" placeholder="Precio"></ion-input>
          </ion-item>
          <ion-button color="medium" type="submit" expand="full" class="ion-margin">Registrar</ion-button>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
