<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form>
    <ion-list>
      <ion-item lines="none" class="text-center">
        <ion-label class="fs-4"><b>{{_products.description}}</b></ion-label>
      </ion-item>
      <ion-item lines="none" class="text-center">
        <ion-img [src]="'http://127.0.0.1:8000'+_products.image"></ion-img>
      </ion-item>
      <ion-item lines="none" class="text-center">
        <ion-label class="fs-5"> Precio <b>{{_products.price |currency}}</b></ion-label>
      </ion-item>
    </ion-list>

    <ion-item lines="none">
      <ion-icon (click)="remove()" style="zoom: 1.5;" class="mx-auto" name="remove-circle-outline"></ion-icon>
      <ion-icon (click)="add()" style="zoom: 1.5;" class="mx-auto" name="add-circle-outline"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="text-center">Cantidad <b>{{_cantidad}}</b></ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="text-center">Total <b>{{_total |currency}}</b></ion-label>
    </ion-item>

  </form>

</ion-content>
